{{#each errosNaPagina}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h2>Cadastrar Usuário</h2>
<form action="/cadastrar/usuario" method="post">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" type="email" name="email" required="required" maxlength="50">
    </div>
    <div class="mb-3">
        <label class="form-label">Senha</label>
        <input class="form-control" type="password" name="senha" required="required" maxlength="20">
    </div>
  
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <a href="/"><button type="button" class="btn btn-danger">Voltar</button></a>
    <br><br>
</form>