<h2>Cadastrar Computador:</h2>
<div class="card">
    <div class="card-body">
        <form action="/" method="post">
            <div class="mb-3">
                <label class="form-label">Descrição:</label>
                <input class="form-control" type="text" name="descricao" required="required" placeholder="Descrição" maxlength="50">
            </div>
            <div class="mb-3">
                <label class="form-label">Marca:</label>
                <input class="form-control" type="text" name="marca" required="required" placeholder="Marca" maxlength="25">
            </div>
            <div class="mb-3">
                <label class="form-label">Memória RAM:</label>
                <input class="form-control" type="text" name="memoriaRam" required="required" placeholder="Memória RAM" maxlength="8">
            </div>

            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <a href="/"><button type="button" class="btn btn-danger">Voltar</button></a>
        </form>
    </div>
</div>