<h4>Login: </h4>
<div class="card">
    <div class="card-body">
        <form action="" method="post">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email">
            <br>
            <label for="senha">Senha:</label>
            <input type="password" class="form-control" name="senha">
            <br>
            <button type="submit" class="btn btn-success">Entrar</button>
            <a href="/cadastro"><button type="button" class="btn btn-danger">Voltar</button></a>
        </form>
    </div>
</div>